#page-footer .copyright .madeby {
    display: none;
    }
    
    #page-footer .btn-footer-popover{
    display: none;
    }
    
    #page-footer .column-right{
    display: none;
    }
    
    #page-site-index .card-body {
    display: none!important;
    }
    
    #page-site-index .pagelayout-frontpage .dashboard-card {
    
    }
    #page-site-index .dashboard-card .dashboard-card-img .course-category {
    }
    
    