#page-site-index.notloggedin .navbar.fixed-top {
    //display:none!important;
    background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
    text-decoration: none;
    }
    
    #page-site-index.notloggedin .navbar.fixed-top:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
              }
    #page-site-index.notloggedin .navbar.fixed-top a {
    color: #fff !important;
              }
    
    
    #page-wrapper #page-footer {
    display: none;
    }
    
    #page-footer .copyright .madeby {
    display: none;
    }
    #page-site-index a {
    }
    #page-footer .btn-footer-popover{
    display: none;
    }
    
    #page-footer .column-right{
    display: none;
    }
    
    #page-site-index .card-body {
    text-align: center;
    }
    
    #page-site-index .dashboard-card .dashboard-card-img .course-category {
    display: none;
    }
    
    #page-site-index .pagelayout-frontpage .dashboard-card {
    }
    
    #page-site-index main {
    }